.header {
    background-color: $color-mine-shaft;
    color: $color-white;
}

.header__top {
    display: flex;
    height: 52px;
    // line-height: 52px;
    justify-content: space-between;
    align-items: center;
    border: 0.1rem solid $color-mercury;
    position: fixed;
    background-color: $color-mine-shaft;
    left: 0;
    right: 0;
    top: 0;
}
%header__body {
    background-image: url('asset/image/roberto-face.jpg');
    height: 61.1rem;
    background-position: center;
    background-size: cover;
}

.header__body--home {
    background-image: url('asset/image/roberto-face.jpg');
    @extend %header__body;
}

.header__body--about {
    background-image: url('asset/image/roberto-2.jpg');
    @extend %header__body;
}

.header__body--speak {
    background-image: url('asset/image/roberto-speak.jpg');
    @extend %header__body;
}
.header__body--speak2 {
    background-image: url('asset/image/robertoblake_smmw17.jpg');
    width: 80rem;
    height: 22.6rem;
    @extend %header__body;
}

%header__footer {
    background-color: $color-mine-shaft;
    color: $color-white;
    text-align: center;
    padding: 2rem;

    h2 {
        font-size: 2.4rem;
        font-weight: normal;
        text-align: center;
        margin-bottom: 1.7rem;
    }
}
.header__footer {
    @extend %header__footer;
}
.header__footer2 {
    @extend %header__footer;
    background-color: $color-white;
    .header__download {
        font-size: 3.5vw;
        margin: 0;
        font-weight: bold;
    }
}

.header__download {
    border: 0.1rem solid $color-fuel-yellow;
    background-color: $color-sandy-brown;
    color: $color-white;
    font-size: 2rem;
    text-decoration: none;
    // margin:8.5rem;
    padding: 1rem 1.5rem;
    border-radius: 0.7rem;
    text-transform: uppercase;
    font-weight: normal;
    &:hover {
        background-color: $color-pizazz;
    }
}
.header__name {
    font-size: 2rem;
    padding: 1.5rem;
    display: inline-block;
}

.rbcf-menu {
    font-size: 2.5rem;
    padding: 0.5rem;
    border: 0.1rem solid $color-white;
    margin: 0.8rem;
    border-radius: 0.3rem;
}

.header__menu-link,
.header__menu-sub-link {
    color: $color-white;
    font-size: 1.5rem;
    text-decoration: none;
    padding: 0.75rem 1.5rem;
    display: block;
    cursor: pointer;
}

.header__menu-sub-link {
    padding: 0.5rem 2.5rem;
}

.header__menu-list {
    // display: none;
    transition: 0.35s;
    position: fixed;
    top: -100%;
    left: 0;
    right: 0;
    border: 0.1rem solid $color-mercury;
}

.header__menu-item {
    background-color: $color-mine-shaft;
    &:first-child {
        & .header__menu-link:after {
            font-family: 'roberto-blake-custom-font';
            content: "\e902";
            font-size: 2rem;
            // padding: 0 1.5rem;
        }
    }
}

#toggle-top-menu,
#header-sub-menu {
    display: none;
}
#toggle-top-menu:checked + .header__menu-list {
    // display: inherit;
    top: 5.2rem;
}

.header__sub-menu {
    display: none;
}

#header-sub-menu:checked + .header__menu-link + .header__sub-menu {
    display: inherit;
}

#header-sub-menu:checked + .header__menu-link .rbcf-circle-down {
    transform: rotate(180deg);
    display: inline-block;
}

.rbcf-circle-down {
    padding: 0 1rem;
}