.header {
    background-color: $color-mine-shaft;
    color: $color-white;
}

.header__top {
    display: flex;
    height: 52px;
    // line-height: 52px;
    justify-content: space-between;
    align-items: center;
    border: 0.1rem solid $color-mercury;
    position: fixed;
    background-color: $color-mine-shaft;
    left: 0;
    right: 0;
}

.header__name {
    font-size: 2rem;
    padding: 1.5rem;
    display: inline-block;
}

.rbcf-menu {
    font-size: 2.5rem;
    padding: 0.5rem;
    border: 0.1rem solid $color-white;
    margin: 0.8rem;
    border-radius: 0.3rem;
}

.header__menu-link,
.header__menu-sub-link {
    color: $color-white;
    font-size: 1.5rem;
    text-decoration: none;
    padding: 0.75rem 1.5rem;
    display: block;
    cursor: pointer;
}

.header__menu-sub-link {
    padding: 0.5rem 2.5rem;
}

.header__menu-list {
    // display: none;
    transition: 0.35s;
    position: fixed;
    top: -100%;
    left: 0;
    right: 0;
    border: 0.1rem solid $color-mercury;
}

.header__menu-item {
    background-color: $color-mine-shaft;
    &:first-child {
        &:after {
            font-family: 'roberto-blake-custom-font';
            content: "\e902";
            font-size: 2rem;
            padding: 0 1.5rem;
        }
    }
}

#toggle-top-menu,
#header-sub-menu {
    display: none;
}
#toggle-top-menu:checked + .header__menu-list {
    // display: inherit;
    top: 5.2rem;
}

.header__sub-menu {
    display: none;
}

#header-sub-menu:checked + .header__menu-link + .header__sub-menu {
    display: inherit;
}

#header-sub-menu:checked + .header__menu-link .rbcf-circle-down {
    transform: rotate(180deg);
    display: inline-block;
}

.rbcf-circle-down {
    padding: 0 1rem;
}