.landing__content {
    text-align: center;
    padding: 1.5rem;
    h2 {
        font-size: 3rem;
        font-weight: normal;
    }

    p {
        font-size: 1.4rem;
        line-height: 1.4;
        font-weight: normal;
        padding: 1rem;
    }

    .text-justify {
        text-align: justify;
    }

    // em {
    //     font-size: 1.4rem;
    //     font-weight: normal;
    // }

    a {
        color: $color-astral;
        text-decoration: none;
        display: inline-block;

        &:hover {
            text-decoration: underline;
            color: $color-bay-of-many;
        }
    }

    %youtube__link {
        background-image: url('/asset/image/HDL-Keynote-2016.jpg');
        height: 31.1rem;
        background-position: center;
        background-size: cover;
    }
    .youtube__link1 {
        background-image: url('/asset/image/HDL-Keynote-2016.jpg');
        @extend %youtube__link;
    }
}