%landing__content {
    text-align: center;
    // padding: 1.5rem;
    h2 {
        font-size: 3rem;
        font-weight: normal;
    }

    p {
        font-size: 1.4rem;
        line-height: 1.4;
        font-weight: normal;
        padding: 1rem;
    }

    .text-justify {
        text-align: justify;
    }

    // em {
    //     font-size: 1.4rem;
    //     font-weight: normal;
    // }

    a {
        color: $color-astral;
        text-decoration: none;
        display: inline-block;

        &:hover {
            text-decoration: underline;
            color: $color-bay-of-many;
        }
    }
    %youtube__link {
        background-image: url('asset/image/HDL-Keynote-2016.jpg');
        height: 17rem;
        width: 33rem;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;


    }

    .youtube__link--1 {
        background-image: url('asset/image/HDL-Keynote-2016.jpg');
        @extend %youtube__link;
    }
    .youtube__link--2 {
        background-image: url('asset/image/RevolveKeynote2015.jpg');
        @extend %youtube__link;
    }
    .youtube__link--3 {
        background-image: url('asset/image/PepCon2015-Keynote.jpg');
        @extend %youtube__link;
    }

    .photo__link {
        width: 33rem;
        // display: flex;
        // flex-direction: column;
    }

    .content__panel {
        width: 100%;
        text-align: left;
        height: auto;
    }

    .text__link {
        color: $color-astral;
        text-decoration: none;
        font-size: 1.4rem;
        // padding-left: 1rem;
        // display: inline-block;

        &:hover {
            text-decoration: underline;
            color: $color-bay-of-many;
        }
    }

    .button__speak {
        border: 0.1rem solid $color-valencia;
        background-color: $color-roman;
        color: $color-white;
        font-size: 1.2rem;
        text-decoration: none;
        // margin:8.5rem;
        padding: 0.7rem 1rem;
        border-radius: 0.3rem;
        font-weight: bold;
        margin: 1rem;
        display: inline-block;
        &:hover {
            background-color: $color-persian-red;
            border: 0.1rem solid $color-mexican-red;
            color: $color-white;
            text-decoration: none;
        }
    }
}
.landing__content {
    @extend %landing__content;
}
.landing__content2 {
    text-align: left;
    a {
        display: inline;
    }
    @extend %landing__content;
    ul {
        font-size: 1.4rem;
        padding-left: 4.3rem;
        line-height: 1.4;
        p {
            padding: 0;
        }
    }
}