@media screen and (min-width: 768px) {
    .image-text__wrapper {
        display: flex;
        flex-direction: row;
    }

    .image {
        width: 30%;
        height: 100%;
    }

    .text-content {
        text-align: justify;
        padding: 0 2rem;
        max-width: 70%;
    }
    @import 'landing-content';

    %landing__content {
        padding: 5rem;
    }
    .grid__thing {
        display: grid;
        grid-gap: 2rem;
        grid-template-columns: 1fr 40%;
    }
    .youtube-video-16-by-9 {
        grid-column: 1/2;
    }
    .text-justify {
        grid-column: 2/3;
    }
}
