extends ../_component/layout/layout
block config
  -
    let title =  `Roberto Blake: Graphic Designer, Marketer, Educator, Author & Speaker`
    let description = `Roberto Blake is a Public Speaker covering the topics of Marketing, Creative Services, Social Media and YouTube.`

block a-content
    include ../_component/mixin/link
    .header__wrapper
        h1 Contact and Work with Roberto Blake
        .header__panel
            .header__body--contact
    hr
    .landing__content2
        h2 Let's Work Together!
        p  If you're ready to make a real investment in the growth of your business or brand I would like to help you execute on your goals. To get started please reach out to me via email 
            b rblake@robertoblake.com
            span  or feel free to call me 518.406.8664. Be prepared to discuss the details of your project for a minimum of 15 minutes.
        h3 Booking Me For Speaking Engagements
        p If you're interested in booking Roberto for a speaking engagement please reach out via email 
            b booking@robertoblake.com
            span  with the details of your event. 
        h2 Contact Roberto
        p  rblake@robertoblake.com
            br
            |     C: 518.406.8664 
            br
            |     skypeID: roberto.blake
            br
            a(href='http://robertoblake.com/newsletter', target='_blank') http://robertoblake.com/newsletter
            br
            a(href='http://twitter.com/robertoblake', target='_blank') http://twitter.com/robertoblake
            br
            a(href='http://youtube.com/robertoblake2', target='_blank') http://youtube.com/robertoblake2
            br
            a(href='http://facebook.com/robertoblake2', target='_blank') http://facebook.com/robertoblake2
            br
            a(href='http://linkedin.com/in/robertoblake', target='_blank') http://linkedin.com/in/robertoblake
            br
        hr
        h2 What People Are Saying About Roberto...
        p 
            em "There are many influencers and experts in the digital space but Roberto Blake truly does stand out from the rest. Roberto is incredibly dedicated to his craft and is persistent in creating relatable and useful content for his followers. Not only is Roberto great at what he does, he is very generous at giving his time sharing insight with his community." 
            br
            b Chelsea Krost Co-founder MPulse
        br
        p   
            em "He has a real passion for creative entrepreneurship and empowering others, and the community he’s built around his creative philosophy is a reflection of his commitment to his following." 
            br
            b Jared Kleinert-Forbes
        hr