.footer
    .footer__social
        .footer__details
            h2 Let's Connect
            p Feel free to reach out to me!
            p
                a(href="tel:+1-518-406-8664") P: 518.406.8664 
            p
                img(src="../asset/image/roberto-mail.jpg", title="Let's have a quick chat")
        ul.footer__ul
            each social in data.footer
                li.social__item
                    a.social__icon(href=social.href, title=social.label) 
                    p.footer__description=social.description
    p Copyright &copy; #{new Date().getFullYear()} · All Rights Reserved 
    p 
        a.footer__link(href="/") Roberto Blake