extends _component/layout/layout
block config
  -
    let title =  `Roberto Blake Replica`
    let description = `This will be an iproved version of Roberto webiste`
block content
  p 
    | fgdfgdfgv bfb
    span.rbcf-home3