extends _component/layout/layout
block config
  -
    let title =  `Roberto Blake Replica`
    let description = `This will be an iproved version of Roberto webiste`

block a-content
  .header__wrapper
  h1 Entrepreneur, Author & Speaker
  .header__body

  p
    | fgdfgdfgv bfb
    span.rbcf-home3