extends _component/layout/layout
block config
  -
    let title =  `Roberto Blake Replica`
    let description = `This will be an iproved version of Roberto webiste`

block a-content
  .header__wrapper
  h1 Entrepreneur, Author & Speaker
  .header__panel
    .header__body
    .header__footer
      h2 Download My Free E-book on Personal Branding!
      a.header__download(href="http://robertoblake.com/join-newsletter.php", title="Download Free Personal Branding Ebook") Download!

  p
    | fgdfgdfgv bfb
    span.rbcf-home3