h2 Contact Roberto
        p  rblake@robertoblake.com
            br
            |     C: 518.406.8664 
            br
            |     skypeID: roberto.blake
            br
            a(href='http://robertoblake.com/newsletter', target='_blank') http://robertoblake.com/newsletter
            br
            a(href='http://twitter.com/robertoblake', target='_blank') http://twitter.com/robertoblake
            br
            a(href='http://youtube.com/robertoblake2', target='_blank') http://youtube.com/robertoblake2
            br
            a(href='http://facebook.com/robertoblake2', target='_blank') http://facebook.com/robertoblake2
            br
            a(href='http://linkedin.com/in/robertoblake', target='_blank') http://linkedin.com/in/robertoblake
            br